In [91]:
import pandas as pd

# Observaciones iniciales

## Variables

### Categóricas
- Gender (binary)
- Vehicle_Age
- Vehicle_Damage (binary)
### Enteros
- Age
- Driving_License (binary)
- Previously_Insured (binary)
- Vintage
- Response (binary) -> Variable a predecir
### Decimales
- Region_Code
- Annual_Premium
- Policy_Sales_Channe

## Análisis

In [92]:
train = pd.read_csv(r"Data\train.csv")
test = pd.read_csv(r"Data\test.csv")
data = [train,test]

In [93]:
for dataset in data:
    print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11504798 entries, 0 to 11504797
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   Gender                object
 2   Age                   int64
 3   Driving_License       int64
 4   Region_Code           float64
 5   Previously_Insured    int64
 6   Vehicle_Age           object
 7   Vehicle_Damage        object
 8   Annual_Premium        float64
 9   Policy_Sales_Channel  float64
 10  Vintage               int64
 11  Response              int64
dtypes: float64(3), int64(6), object(3)
memory usage: 1.0+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7669866 entries, 0 to 7669865
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   Gender                object
 2   Age                   int64
 3   Driving_License       int64
 4   Region_Code           float64
 5   Previously_Insured    int64
 6   Vehicle_Age           object
 7   Vehicle_Damage        object
 8   Annual_Premium        float64
 9   Policy_Sales_Channel  float64
 10  Vintage               int64
dtypes: float64(3), int64(5), object(3)
memory usage: 643.7+ MB
None

In [94]:
for dataset in data:
    print("\nDataset:")
    print("\nEnteros:",dataset.select_dtypes(include='int').columns.to_list())
    print("\nDecimales:",dataset.select_dtypes(include='float').columns.to_list())
    print("\nCadena:",dataset.select_dtypes(include='object').columns.to_list())

Dataset:

Enteros: ['id', 'Age', 'Driving_License', 'Previously_Insured', 'Vintage', 'Response']

Decimales: ['Region_Code', 'Annual_Premium', 'Policy_Sales_Channel']

Cadena: ['Gender', 'Vehicle_Age', 'Vehicle_Damage']

Dataset:

Enteros: ['id', 'Age', 'Driving_License', 'Previously_Insured', 'Vintage']

Decimales: ['Region_Code', 'Annual_Premium', 'Policy_Sales_Channel']

Cadena: ['Gender', 'Vehicle_Age', 'Vehicle_Damage']

In [95]:
for dataset in data:
    print("\ndataset:",dataset.isnull().sum())

dataset: id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

dataset: id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
dtype: int64

No observamos valores nulos

Vamos a verificar si existen valores decimales en la columna 'Region_Code', 'Annual_Premium', 'Policy_Sales_Channel'.
En caso de no encontrarlos procederemos a transformar las columnas en enteros.

In [96]:
has_decimals = []
for dataset in data:
    has_decimals.append(dataset[
        (dataset['Region_Code'] % 1 != 0) |
        (dataset['Annual_Premium'] % 1 != 0) |
        (dataset['Policy_Sales_Channel'] % 1 != 0)
        ]
    )
print('\ntrain:\n',has_decimals[0],'\ntest:\n',has_decimals[1])

train:
                 id  Gender  Age  Driving_License  Region_Code  \
11370234  11370234  Female   20                1         39.2

          Previously_Insured Vehicle_Age Vehicle_Damage  Annual_Premium  \
11370234                   1    < 1 Year             No          2630.0

          Policy_Sales_Channel  Vintage  Response
11370234                 159.0       74         0
test:
 Empty DataFrame
Columns: [id, Gender, Age, Driving_License, Region_Code, Previously_Insured, Vehicle_Age, Vehicle_Damage, Annual_Premium, Policy_Sales_Channel, Vintage]
Index: []

Sólo hay un registro con decimales en el dataset de 'train', [Region_Code]. Al ser el único registro con estas características, procedemos a removerlo.

*Futuros pasos:*
1. Remover train['id'] = 11370234 
2. Transformar las columnas ['Region_Code', 'Annual_Premium', 'Policy_Sales_Channel'] de float a int

In [97]:
# 1.

train = train[train['id'] != 11370234]

In [98]:
# 2.
columns_to_convert = ['Region_Code', 'Annual_Premium', 'Policy_Sales_Channel']
train[columns_to_convert] = train[columns_to_convert].astype('int64')
test[columns_to_convert] = test[columns_to_convert].astype('int64')

C:\Users\SEFECASE\AppData\Local\Temp\ipykernel_15192\2108477704.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train[columns_to_convert] = train[columns_to_convert].astype('int64')

In [99]:
data = [train,test]

In [106]:
for dataset in data:
    print(dataset.columns[dataset.nunique() == 2].to_list())

['Gender', 'Driving_License', 'Previously_Insured', 'Vehicle_Damage', 'Response']
['Gender', 'Driving_License', 'Previously_Insured', 'Vehicle_Damage']